.footer {
    position: sticky;
    bottom: 0;
    height: 100%px;
    border-top: 1px solid #303030;
    width: 100%;
    display: flex;
    background-color: #fff;
}

.footer_left {
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 20px;
}

.footer_right {
    margin-right: 20px;
    justify-content: flex-end;
}


